* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(ellipse, #f8fafc, #bcccdc);
  color: white;
  height: 100vh;
  /* height: -webkit-fill-available; */
}

.main {
  height: 350px;
  width: 300px;
  background-color: #bcccdc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
}

.main div {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert {
  height: 25%;
  font-size: 1.3rem;
  text-align: center;
  line-height: 22px;
  letter-spacing: 2px;
}
.count {
  height: 40%;
  font-size: 9rem;
}
.refresh {
  height: 30%;
  margin-top: -40px;
  font-size: 1.4rem;
  color: #f8fafccb;
  cursor: pointer;
  transition: all 0.3s;
}
.refresh:hover {
  opacity: 0.8;
}
.buttons {
  display: flex;
  flex-direction: row;
  height: 15%;
  background-color: #9aa6b2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.min,
.plus {
  width: 50%;
  height: 100%;
  transition: all 0.3s;
}
.min:hover {
  opacity: 0.8;
  background-color: #f8fafc;
  color: #bcccdc;
  border-bottom-left-radius: 10px;
}
.plus:hover {
  opacity: 0.8;
  background-color: #f8fafc;
  color: #bcccdc;
  border-bottom-right-radius: 10px;
}
.min {
  border-right: 1px solid #bcccdc;
}

@media (max-width: 420px) or (max-height: 730px) {
  html {
    height: -webkit-fill-available;
  }
  .main {
    width: 100%;
    height: -webkit-fill-available;
    border-radius: 0%;
  }
  .buttons {
    border-radius: 0%;
  }
  .alert {
    margin-top: 30px;
    font-size: 1.6rem;
    line-height: 30px;
  }
  .refresh {
    font-size: 2rem;
  }
  .count {
    font-size: 11rem;
  }
  .min,
  .plus {
    font-size: 3rem;
  }
}
